{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <h1>Season index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Year</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in program.seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>
                    <a href="{{ path('program_season_show', { 'program_slug': program.slug, 'season_id': season.id }) }}">show</a>
                    <a href="{{ path('program_season_edit', { 'program_slug': program.slug, 'season_id': season.id }) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('program_season_new', { 'slug': program.slug }) }}">Create new</a>
{% endblock %}
