{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
<h1>Toutes les séries de la table program : </h1>
    {% for program in programs %}
        <div class="card" style="width: 18rem;">
            <img src="{{ asset('build/images/' ~ program.poster)}} " class="card-img-top" alt="{{ program.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ program.title }}</h5>
                <p class="card-text">{{ program.synopsis }}</p>
                <a href="{{ path("program_show", { 'slug': program.slug }) }}">Voir la fiche</a>
            </div>
        </div> 
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}

