{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="container-md">
        <h1 class="text-center text-uppercase">{{ program.title }}</h1>
        <hr class="mb-5">
        <div class="media">
            <div class="poster">
                <img class="img-fluid" src="{{ asset('build/images/' ~ program.poster)}} " alt="{{ program.title }}">
            </div>
            <div class="media-body">
                <h2 class="mb-3">{{ program.title }}</h2>
                <div class="program-cat mb-3">
                    <a class="btn" href="{{ path("category_show", { categoryName: program.category.name }) }}">{{ program.category.name }}</a>
                </div>
                {% for season in program.seasons %} 
                    <div class="program-season mb-3">
                        <a class="btn" href="/program/{{ program.slug }}/season/{{ season.id }}">Saison {{ season.number }}</a>   
                    </div>
                {% endfor %} 
                {% if is_granted("ROLE_ADMIN") or app.user == program.owner %}
                    <a class="btn btn-primary" href="{{ path('program_season_new', { 'slug': program.slug }) }}"><i class="bi bi-pen"></i>Ajouter une nouvelle saison</a>
                {% endif %}
                <p class="synopsis">{{ program.synopsis }}</p>
                <div class="actorsbyprogram">
                    {% for actor in program.actors %}
                        <div class="program-actor mb-3">
                            <a class="oneactor" href="{{ path("actor_show", { id: actor.id }) }}">{{ actor.name }}&ensp;</a>
                        </div>
                        {% else %}
                            <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </div>
                <div class="buttons-align mt-3">
                    {% if is_granted("ROLE_ADMIN") or app.user == program.owner %}
                        <a class="btn btn-primary" href="{{ path('program_edit', { 'slug': program.slug } ) }}"><i class="bi bi-pen"></i>Éditer</a>
                        {% include "program/_delete_form.html.twig" %}
                    {% endif %}
                </div>

                <a class="btn btn-primary mt-5" href="{{ path('program_index') }}">
                    Retour à la liste des programmes
                </a>
                
            </div>
        </div>
    </div>
{% endblock %}

