{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="poster">
            <img class="img-fluid" src="{{ asset('build/images/' ~ program.poster)}} " alt="{{ program.title }}">
        </div>
        <div class="media-body">
            <h1 class="mt-O">{{ program.title }}</h1>
            <p>Catégorie : {{ program.category.name }}</p>
            <p>Synopsis : <br>{{ program.synopsis }}</p>
            <p>Saisons : 
                <ul>
                {% for season in program.seasons %} 
                    <li><a href="/program/{{ program.slug }}/season/{{ season.id }}">Saison {{ season.number }}</a></li>
                    {# <li><a href="{{ path('program_season_show', { 'program_slug': program.slug, 'season_id': season.id }) }}">Saison {{ season.number }}</a></li> #}
                {% endfor %} 
                </ul>
            </p>
            <strong>Acteurs :</strong>
            <ul>
                {% for actor in program.actors %}
                    <li><a href="{{ path("actor_show", { id: actor.id }) }}">{{ actor.name }}</a></li>
                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>

            {% if is_granted("ROLE_ADMIN") or app.user == program.owner %}
                <a class="btn btn-primary" href="{{ path('program_edit', { 'slug': program.slug} ) }}"><i class="bi bi-pen"></i>Éditer</a>
            {% endif %}

            {# {% if is_granted("ROLE_ADMIN") or app.user == program.owner %}
                <a class="btn btn-primary" href="{{ path('app_comment_edit', {'id': comment.id}) }}"><i class="bi bi-pen"></i> edit</a>
            {% endif %} #}

            <a class="btn btn-primary" href="{{ path('program_index') }}">
                Retour à la liste des programmes
            </a>
        </div>
    </div>
{% endblock %}

