{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="poster">
            <img class="img-fluid" src="{{ asset('build/images/' ~ program.poster)}} " alt="{{ program.title }}">
        </div>
        <div class="media-body">
            <h1 class="mt-O">{{ program.title }}</h1>
            <p>Catégorie : {{ program.category.name }}</p>
            <p>Synopsis : <br>{{ program.synopsis }}</p>
            <p>Saisons : 
                <ul>
                {% for season in seasons %} 
                    <li><a href="/program/{{ program.id }}/season/{{ season.id }}">Saison {{ season.number }}</a></li>
                {% endfor %} 
                </ul>
            </p>
        </div>

        <a href="{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </div>
{% endblock %}

